#detail-container {
	/*max-height: 1000px;*/
	max-height: 550px;
	min-height: 550px;
	border: 2px solid red;
	margin: 0 auto;
	width: 90%;
	margin-top: 50px;
	background: black;
}

body {
	background-color: black;
	color: white;
}

* {
	box-sizing: border-box;
}

#content {
	padding: 5px;
	border: 2px solid blue;
	width: 60%;
	float: right;
	height: 550px;
}

.container {
	min-height: 750px;
	margin: 0 auto;
	border: 2px solid red;
}

.searchbar {
	border: 2px solid red;
	margin-top: 30px;
	justify-content: center;
}

.search {
	margin: 0 auto;
	border: 2px solid blue;
	margin-left: 60%;
}

h1, h2 {
	margin-left: 20px;
	margin-top: 10px;
}

h2 {
	margin-top: -3%;
}

p {
	margin-left: 20px;
}

#poster {
	width: 100%;
	height: 100%;
	/*height: 525px;*/
	/*max-height: 525px;*/
}

#pic {
	width: 40%;
	/*max-height: 525px;*/
	/*border: 2px solid red;*/
	float: left;
	height: 550px;
}


